body {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

ul {
    list-style: none;
    padding: 0;
    transform: skewY(-15deg);
}

a {
    background-color: green;
}

ul li a {
    display: block;
    padding: 15px 25px;
    --color: green;
    background-color: car(--color);
    color: white;
    text-decoration: none;
    position: relative;
    left: 0;
    transition: left 300ms,
        background-color 300ms;
        
}

ul li a:hover {
    background-color: red;
    --color: red;
    left: -20px;
}

ul li a::before {
    content: "";
    width: 20px;
    height: 100%;
    left: -20px;
    bottom: 10px;
    position: absolute;
    background-color: color-mix(in srgb, var(--color), black 20%);
    transform: skewY(45deg);
    transition: background-color 300ms;
}

ul li a::after {
    content: "";
    width: 100%;
    left: -10px;
    top: -20px;
    position: absolute;
    height: 20px;
    background-color: color-mix(in srgb, var(--color), black 20%);
    z-index: -1;
    transform: skewX(45deg);
    transition: background-color 300ms;

}